<div
    class="h-screen h-full w-full flex flex-col justify-center md:px-[50px] lg:px-[20%] flex flex-col gap-6"
>
    <h1
        class="flex items-center gap-2 text-[19px] md:text-[3vw] font-semibold text-broken-white"
    >
        About Me
        <div class="hidden md:flex h-[0.5px] w-[250px] bg-[#8892b0]"></div>
    </h1>

    <div class="flex align-items text-shadow-white">
        <div>
            <p class="leading-8">
                Bonjour, je m’appelle Elinor.
                Passionné par la conception logicielle, le CI/CD et les applications data-driven, j’ai découvert le
                développement en classe de 5ᵉ et n’ai cessé depuis d’explorer des domaines allant du Full Stack à
                l’ingénierie des données, en passant par l’automatisation et le déploiement.
            </p>
            <p class="leading-8">
                Voici quelques technologies avec lesquelles j'ai eu le plaisir de travailler et avec lesquelles je me
                sens
                plutot a l'aise
            </p>
            <ul class="list-['✔'] pl-5 flex flex-col gap-2">
                @for (technology of technologies; track $index) {
                    <li class="pl-4 marker:text-green-fluo">
                        {{ technology }}
                    </li>
                }
            </ul>
        </div>

    </div>
</div>
