<div
  class="animate-slide-left bg-[#112240] h-screen absolute right-0 top-0 min-w-3/4"
>
  <li
    class="h-full flex flex-col justify-center items-center gap-10 text-[#8892b0]"
  >
    @for (item of links; track $index) {
    <ol
      class="text-[17px] relative pb-1 flex gap-2 font-bold cursor-pointer hover:text-[#7fffd4] after:absolute after:left-0 after:bottom-0 after:rounded-[25px] after:h-[4px] after:w-0 after:bg-[#7fffd4] after:transition-all after:duration-300 hover:after:w-2/3"
    >
      <a [href]="item.target">
        {{ item.name }}
      </a>
    </ol>
    }
  </li>
</div>
